body {
	background-color:white;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
ul {
	list-style-type: none;
}
.google-map {
	position:absolute;
	width:75%;
	height:98%;
	background:green;
	border:1px solid red;
}
.navigation-right {
	position:absolute;
	left:75%;	
	width:24%;
	height:97%;
	border:1px solid red;
	background-color:green;
}